@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	--font-color: white;
	--main-bg: #034078;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 10px;

	> .header {
		padding: 20px;
		color: var(--main-bg);
		grid-column: 1 / 11;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> h1 {
			font-size: 3rem;
		}

		> ul {
			font-size: 1.5rem;
			list-style: none;
			display: flex;
			gap: 30px;
		}
	}

	> .container {
		grid-column: 2 / 10;
		grid-row: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		gap: 2rem;

		> .card {
			font-size: 2rem;
			color: var(--font-color);
			background-color: var(--main-bg);
			border-radius: 5px;
			text-align: center;
			padding: 1rem;
			box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

			> ul {
				padding: 10px;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			& li {
				width: 200px;
				list-style: none;
				display: flex;
				justify-content: space-between;
				align-items: stretch;

				> button {
					width: 100%;
				}
			}
		}
	}

	::backdrop {
		background-color: black;
		opacity: 0.7;
	}

	& dialog {
		height: 42vh;
		width: 20vw;
		padding-bottom: 1rem;
		margin: auto;
		outline: none;
		border: none;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

		> form {
			font-size: 2rem;
			padding: 2rem;
			height: 100%;

			> ul {
				height: 20vh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 20px;

				> li {
					width: 100%;
					text-align: center;
					list-style: none;

					> .title.dialog {
						font-size: 2.5rem;
						font-weight: bold;
					}
					> input {
						width: 15vw;
						height: 2vh;
						padding: 1rem;
						border: none;
						border: 2px solid var(--main-bg);
						border-radius: 5px;
					}

					> input:focus {
						outline: none;
					}

					> input[type="checkbox"] {
						width: 5rem;
						accent-color: var(--main-bg);
					}

					> button {
						padding: 1rem;
						width: 17vw;
						height: 5vh;
						border-radius: 5px;
						border: none;
						background-color: var(--main-bg);
						color: var(--font-color);
					}
				}
			}
		}
	}

	> .add.btn {
		width: 8rem;
		height: 8rem;
		color: var(--font-color);
		background-color: var(--main-bg);
		border: none;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 1) 0px -2px 6px 0px inset;
		font-size: 5rem;
		border-radius: 100px;
		position: fixed;
		top: 80%;
		left: 80%;
		justify-self: center;
		align-self: center;
		cursor: pointer;
	}

	> .add.btn:hover {
		opacity: 80%;
	}
}
