@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	--font-color: white;
	--main-bg: #0369a1;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);

	> .container {
		grid-column: 1 / 11;
		grid-row: 2;
		display: grid;
		grid-auto-flow: column;
	}

	::backdrop {
		background-color: black;
		opacity: 0.7;
	}

	& dialog {
		height: 42vh;
		width: 20vw;
		padding-bottom: 1rem;
		margin: auto;
		outline: none;
		border: none;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

		> form {
			font-size: 2rem;
			padding: 2rem;
			height: 100%;

			> ul {
				height: 20vh;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 20px;

				> li {
					width: 100%;
					text-align: center;
					list-style: none;

					> .title.dialog {
						font-size: 2.5rem;
						font-weight: bold;
					}
					> input {
						width: 15vw;
						height: 2vh;
						padding: 1rem;
						border: none;
						border: 2px solid var(--main-bg);
						border-radius: 5px;
					}

					> input:focus {
						outline: none;
					}

					> input[type="checkbox"] {
						width: 5rem;
						accent-color: var(--main-bg);
					}

					> button {
						padding: 1rem;
						width: 17vw;
						height: 5vh;
						border-radius: 5px;
						border: none;
						background-color: var(--main-bg);
						color: var(--font-color);
					}
				}
			}
		}
	}

	> .add.btn {
		width: 100%;
		height: 100%;
		color: var(--font-color);
		background-color: var(--main-bg);
		border: none;
		font-size: 5rem;
		border-radius: 10px;
		grid-row: 9;
		grid-column: 9;
		justify-self: center;
		align-self: center;
		cursor: pointer;
	}

	> .add.btn:hover {
		opacity: 80%;
	}
}
